.rsbg2{
    background-color: limegreen;
    height: 100%;
    width: 100%;
}
.rstt1{
    background-color: aliceblue;
    height: 250px;
    width: 250px;
}
.ve2{
    height: 400px;
    /* width: 500px; */
}
.wsp1{
    color: lime;
}
